a{
    margin-left: 50px; 
    margin-right: 40px;
    text-decoration: none;
    color: black;
    color: azure;
    font-size: 40px;   
}


body{
    margin: 0;
    padding: 0;
    background-color: black;
      
}

.navbar{
    margin-top: 100%s;
    padding-left: 0%;
}
 
 